<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/jpeg" href="/assets/photo.png" />
    <title>Kamalesh Man</title>
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>Kams' Inventory</h1>
        </a>
        <h2>Hey there, I am Kamalesh. This is my Inventory Page. A place where all the bad boys that I have created reside.</h2>

        <section id="downloads">
          <a href="https://github.com/Kams7" class="btn btn-github"><span class="icon"></span>View GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        Each one of them here are a madness on their own. Try them out to see how wild they can get!
      </section>

      <h2>Workout Nightmare</h2>
      <a href="https://chromewebstore.google.com/detail/workout-nightmare/bobdfmpimnjimaeinbpeaijmabolahod" class="btn">View on Chrome Store</a>
      <a href="https://github.com/Kams7/workout-nightmare" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
      <p>This is a chrome extension which can force us to do intense workouts by blocking access to all websites. Wake up to reality? No, wake up to nightmare :(</p>

      <h2>Do Terminal</h2>
      <a href="https://github.com/Kams7/do-terminal" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
      <p>Ever switched back and forth to chatgpt/google and terminal to get the correct command to execute, that you don't know. Not anymore!... Hopefully :)</p>
      <p>Do-terminal gives the command ready to execute directly in the command terminal.</p>
      <p>So that we waste our time here instead of chatgpt.</p>

      <h2>CheapCart</h2>
      <a href="https://github.com/Kams7/compario-backend" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
      <p>CheapCart reduces the hustle of comparing the prices across different websites and gives the best deal among all of them in a blink of a eye.</p>
      <p>So now you can compare across all the comparision websites and find the best of the best deal yourself :)</p>
      <p>This project is dropped because of lack of motivation and funds ofcourse!!</p>
      
      <h2>Sloth House</h2>
      <a class="btn">Still Developing :)</a>
      <p>A social media based on question answering type like reddit with incentives based on upvotes. That's not all! Here is the place where you can find all the professionals of your need.</p>

    </div>
  </body>
</html>